Analysis of Striker Finishing Quality Using FBref/Opta Data

Pull data and save

In [88]:
# Imports and download data from fbref
import lxml
import pandas as pd

url = 'https://fbref.com/en/comps/Big5/shooting/players/Big-5-European-Leagues-Stats'

df_url = pd.read_html(url)[0]

df_url.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk             Player             Nation                Pos
0                  1         Max Aarons            eng ENG                 DF
1                  2   Brenden Aaronson             us USA              MF,FW
2                  3    Paxten Aaronson             us USA                 MF
3                  4  Keyliane Abdallah             fr FRA                 FW
4                  5   Yunis Abdelhamid             ma MAR                 DF

  Unnamed: 4_level_0  Unnamed: 5_level_0 Unnamed: 6_level_0  \
               Squad                Comp                Age
0        Bournemouth  eng Premier League                 23
1       Union Berlin       de Bundesliga                 22
2     Eint Frankfurt       de Bundesliga                 19
3          Marseille          fr Ligue 1                 17
4              Reims          fr Ligue 1                 35

  Unnamed: 7_level_0 Unnamed: 8_level_0 Standard  ...                    \
                Born                90s      Gls  ...  Dist FK PK PKatt
0               2000               13.7        0  ...  23.9  0  0     0
1               2000               14.1        2  ...  18.4  0  0     0
2               2003                1.1        0  ...  15.1  0  0     0
3               2006                0.0        0  ...   NaN  0  0     0
4               1987               30.9        4  ...  15.0  0  1     1

  Expected                            Unnamed: 26_level_0
        xG npxG npxG/Sh  G-xG np:G-xG             Matches
0      0.0  0.0    0.02   0.0     0.0             Matches
1      2.0  2.0    0.11   0.0     0.0             Matches
2      0.1  0.1    0.06  -0.1    -0.1             Matches
3      0.0  0.0     NaN   0.0     0.0             Matches
4      3.4  2.6    0.13  +0.6    +0.4             Matches

[5 rows x 27 columns]

In [89]:
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (Unnamed: 0_level_0, Rk)        2966 non-null   object
 1   (Unnamed: 1_level_0, Player)    2966 non-null   object
 2   (Unnamed: 2_level_0, Nation)    2961 non-null   object
 3   (Unnamed: 3_level_0, Pos)       2966 non-null   object
 4   (Unnamed: 4_level_0, Squad)     2966 non-null   object
 5   (Unnamed: 5_level_0, Comp)      2966 non-null   object
 6   (Unnamed: 6_level_0, Age)       2961 non-null   object
 7   (Unnamed: 7_level_0, Born)      2961 non-null   object
 8   (Unnamed: 8_level_0, 90s)       2966 non-null   object
 9   (Standard, Gls)                 2966 non-null   object
 10  (Standard, Sh)                  2966 non-null   object
 11  (Standard, SoT)                 2966 non-null   object
 12  (Standard, SoT%)                2435 non-null   object
 13  (Standard, Sh/90)               2966 non-null   object
 14  (Standard, SoT/90)              2966 non-null   object
 15  (Standard, G/Sh)                2435 non-null   object
 16  (Standard, G/SoT)               2107 non-null   object
 17  (Standard, Dist)                2435 non-null   object
 18  (Standard, FK)                  2965 non-null   object
 19  (Standard, PK)                  2966 non-null   object
 20  (Standard, PKatt)               2966 non-null   object
 21  (Expected, xG)                  2965 non-null   object
 22  (Expected, npxG)                2965 non-null   object
 23  (Expected, npxG/Sh)             2435 non-null   object
 24  (Expected, G-xG)                2965 non-null   object
 25  (Expected, np:G-xG)             2965 non-null   object
 26  (Unnamed: 26_level_0, Matches)  2966 non-null   object
dtypes: object(27)
memory usage: 625.8+ KB

In [90]:
# Merge multi-columns
df = df_url.copy()
df.columns = [' '.join(col).strip() for col in df.columns]
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0_level_0 Rk        2966 non-null   object
 1   Unnamed: 1_level_0 Player    2966 non-null   object
 2   Unnamed: 2_level_0 Nation    2961 non-null   object
 3   Unnamed: 3_level_0 Pos       2966 non-null   object
 4   Unnamed: 4_level_0 Squad     2966 non-null   object
 5   Unnamed: 5_level_0 Comp      2966 non-null   object
 6   Unnamed: 6_level_0 Age       2961 non-null   object
 7   Unnamed: 7_level_0 Born      2961 non-null   object
 8   Unnamed: 8_level_0 90s       2966 non-null   object
 9   Standard Gls                 2966 non-null   object
 10  Standard Sh                  2966 non-null   object
 11  Standard SoT                 2966 non-null   object
 12  Standard SoT%                2435 non-null   object
 13  Standard Sh/90               2966 non-null   object
 14  Standard SoT/90              2966 non-null   object
 15  Standard G/Sh                2435 non-null   object
 16  Standard G/SoT               2107 non-null   object
 17  Standard Dist                2435 non-null   object
 18  Standard FK                  2965 non-null   object
 19  Standard PK                  2966 non-null   object
 20  Standard PKatt               2966 non-null   object
 21  Expected xG                  2965 non-null   object
 22  Expected npxG                2965 non-null   object
 23  Expected npxG/Sh             2435 non-null   object
 24  Expected G-xG                2965 non-null   object
 25  Expected np:G-xG             2965 non-null   object
 26  Unnamed: 26_level_0 Matches  2966 non-null   object
dtypes: object(27)
memory usage: 625.8+ KB

,Unnamed: 0_level_0 Rk,Unnamed: 1_level_0 Player,Unnamed: 2_level_0 Nation,Unnamed: 3_level_0 Pos,Unnamed: 4_level_0 Squad,Unnamed: 5_level_0 Comp,Unnamed: 6_level_0 Age,Unnamed: 7_level_0 Born,Unnamed: 8_level_0 90s,Standard Gls,...,Standard Dist,Standard FK,Standard PK,Standard PKatt,Expected xG,Expected npxG,Expected npxG/Sh,Expected G-xG,Expected np:G-xG,Unnamed: 26_level_0 Matches
0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,23,2000,13.7,0,...,23.9,0,0,0,0.0,0.0,0.02,0.0,0.0,Matches
1,2,Brenden Aaronson,us USA,"MF,FW",Union Berlin,de Bundesliga,22,2000,14.1,2,...,18.4,0,0,0,2.0,2.0,0.11,0.0,0.0,Matches
2,3,Paxten Aaronson,us USA,MF,Eint Frankfurt,de Bundesliga,19,2003,1.1,0,...,15.1,0,0,0,0.1,0.1,0.06,-0.1,-0.1,Matches
3,4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,17,2006,0.0,0,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
4,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,35,1987,30.9,4,...,15.0,0,1,1,3.4,2.6,0.13,+0.6,+0.4,Matches

In [91]:
# Select desired columns
df.columns

df = df[['Unnamed: 1_level_0 Player', 'Unnamed: 2_level_0 Nation', 'Unnamed: 4_level_0 Squad',
       'Unnamed: 6_level_0 Age', 'Unnamed: 8_level_0 90s', 'Standard Gls', 'Standard PK',
       'Standard PKatt', 'Expected xG', 'Expected npxG', 'Expected npxG/Sh',
       'Expected G-xG', 'Expected np:G-xG']]

df.head(10)

,Unnamed: 1_level_0 Player,Unnamed: 2_level_0 Nation,Unnamed: 4_level_0 Squad,Unnamed: 6_level_0 Age,Unnamed: 8_level_0 90s,Standard Gls,Standard PK,Standard PKatt,Expected xG,Expected npxG,Expected npxG/Sh,Expected G-xG,Expected np:G-xG
0,Max Aarons,eng ENG,Bournemouth,23,13.7,0,0,0,0.0,0.0,0.02,0.0,0.0
1,Brenden Aaronson,us USA,Union Berlin,22,14.1,2,0,0,2.0,2.0,0.11,0.0,0.0
2,Paxten Aaronson,us USA,Eint Frankfurt,19,1.1,0,0,0,0.1,0.1,0.06,-0.1,-0.1
3,Keyliane Abdallah,fr FRA,Marseille,17,0.0,0,0,0,0.0,0.0,NaN,0.0,0.0
4,Yunis Abdelhamid,ma MAR,Reims,35,30.9,4,1,1,3.4,2.6,0.13,+0.6,+0.4
5,Salis Abdul Samed,gh GHA,Lens,23,16.9,0,0,0,0.8,0.8,0.17,-0.8,-0.8
6,Nabil Aberdin,fr FRA,Getafe,20,2.0,0,0,0,0.0,0.0,NaN,0.0,0.0
7,Laurent Abergel,fr FRA,Lorient,30,31.8,2,0,0,1.1,1.1,0.04,+0.9,+0.9
8,Matthis Abline,fr FRA,Nantes,20,11.6,5,0,0,3.8,3.8,0.09,+1.2,+1.2
9,Abner,br BRA,Betis,23,15.6,0,0,0,0.1,0.1,0.03,-0.1,-0.1

In [97]:
# Rename columns
new_columns = []
for col in df.columns:
    new_col = col.split()[-1]
    new_columns.append(new_col)
df.columns = new_columns

df = df.rename(columns={'npxG/Sh': 'npxG/sh', 'np:G-xG': 'npG-npxG'})

df.head(10)

,Player,Nation,Squad,Age,90s,Gls,PK,PKatt,xG,npxG,npxG/sh,G-xG,npG-npxG
0,Max Aarons,ENG,Bournemouth,23,13.7,0,0,0,0.0,0.0,0.02,0.0,0.0
1,Brenden Aaronson,USA,Union Berlin,22,14.1,2,0,0,2.0,2.0,0.11,0.0,0.0
2,Paxten Aaronson,USA,Eint Frankfurt,19,1.1,0,0,0,0.1,0.1,0.06,-0.1,-0.1
3,Yunis Abdelhamid,MAR,Reims,35,30.9,4,1,1,3.4,2.6,0.13,0.6,0.4
4,Salis Abdul Samed,GHA,Lens,23,16.9,0,0,0,0.8,0.8,0.17,-0.8,-0.8
5,Laurent Abergel,FRA,Lorient,30,31.8,2,0,0,1.1,1.1,0.04,0.9,0.9
6,Matthis Abline,FRA,Nantes,20,11.6,5,0,0,3.8,3.8,0.09,1.2,1.2
7,Abner,BRA,Betis,23,15.6,0,0,0,0.1,0.1,0.03,-0.1,-0.1
8,Zakaria Aboukhlal,MAR,Toulouse,23,8.4,3,1,1,2.8,2.0,0.07,0.2,0.0
9,Abdel Abqar,MAR,Alavés,24,25.7,0,0,0,0.5,0.5,0.05,-0.5,-0.5

In [93]:
# Trim the 'Nation' column
df['Nation'] = df['Nation'].str.split().str.get(1)
df.head(10)

,Player,Nation,Squad,Age,90s,Gls,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Max Aarons,ENG,Bournemouth,23,13.7,0,0,0,0.0,0.0,0.02,0.0,0.0
1,Brenden Aaronson,USA,Union Berlin,22,14.1,2,0,0,2.0,2.0,0.11,0.0,0.0
2,Paxten Aaronson,USA,Eint Frankfurt,19,1.1,0,0,0,0.1,0.1,0.06,-0.1,-0.1
3,Keyliane Abdallah,FRA,Marseille,17,0.0,0,0,0,0.0,0.0,NaN,0.0,0.0
4,Yunis Abdelhamid,MAR,Reims,35,30.9,4,1,1,3.4,2.6,0.13,+0.6,+0.4
5,Salis Abdul Samed,GHA,Lens,23,16.9,0,0,0,0.8,0.8,0.17,-0.8,-0.8
6,Nabil Aberdin,FRA,Getafe,20,2.0,0,0,0,0.0,0.0,NaN,0.0,0.0
7,Laurent Abergel,FRA,Lorient,30,31.8,2,0,0,1.1,1.1,0.04,+0.9,+0.9
8,Matthis Abline,FRA,Nantes,20,11.6,5,0,0,3.8,3.8,0.09,+1.2,+1.2
9,Abner,BRA,Betis,23,15.6,0,0,0,0.1,0.1,0.03,-0.1,-0.1

In [94]:
# Drop nulls
# this is safe in this case because prominent players will be sure to have all data fields filled
# (only prominent players are of concern for this analysis)
nulls_before = df.isna().sum()
df = df.dropna()
nulls_after = df.isna().sum()
print(nulls_before, nulls_after)
df = df.reset_index(drop=True)
df.head(10)

Player       0
Nation     119
Squad        0
Age          5
90s          0
Gls          0
PK           0
PKatt        0
xG           1
npxG         1
npxG/Sh    531
G-xG         1
np:G-xG      1
dtype: int64 Player     0
Nation     0
Squad      0
Age        0
90s        0
Gls        0
PK         0
PKatt      0
xG         0
npxG       0
npxG/Sh    0
G-xG       0
np:G-xG    0
dtype: int64

,Player,Nation,Squad,Age,90s,Gls,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Max Aarons,ENG,Bournemouth,23,13.7,0,0,0,0.0,0.0,0.02,0.0,0.0
1,Brenden Aaronson,USA,Union Berlin,22,14.1,2,0,0,2.0,2.0,0.11,0.0,0.0
2,Paxten Aaronson,USA,Eint Frankfurt,19,1.1,0,0,0,0.1,0.1,0.06,-0.1,-0.1
3,Yunis Abdelhamid,MAR,Reims,35,30.9,4,1,1,3.4,2.6,0.13,+0.6,+0.4
4,Salis Abdul Samed,GHA,Lens,23,16.9,0,0,0,0.8,0.8,0.17,-0.8,-0.8
5,Laurent Abergel,FRA,Lorient,30,31.8,2,0,0,1.1,1.1,0.04,+0.9,+0.9
6,Matthis Abline,FRA,Nantes,20,11.6,5,0,0,3.8,3.8,0.09,+1.2,+1.2
7,Abner,BRA,Betis,23,15.6,0,0,0,0.1,0.1,0.03,-0.1,-0.1
8,Zakaria Aboukhlal,MAR,Toulouse,23,8.4,3,1,1,2.8,2.0,0.07,+0.2,0.0
9,Abdel Abqar,MAR,Alavés,24,25.7,0,0,0,0.5,0.5,0.05,-0.5,-0.5

In [95]:
# Update data types
df = df.astype({'Age': int, '90s': float, 'Gls': int, 'PK': int, 'PKatt': int, 'xG':float, 'npxG': float,
                'npxG/Sh': float, 'G-xG': float, 'np:G-xG': float})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2319 entries, 0 to 2318
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   2319 non-null   object
 1   Nation   2319 non-null   object
 2   Squad    2319 non-null   object
 3   Age      2319 non-null   int64
 4   90s      2319 non-null   float64
 5   Gls      2319 non-null   int64
 6   PK       2319 non-null   int64
 7   PKatt    2319 non-null   int64
 8   xG       2319 non-null   float64
 9   npxG     2319 non-null   float64
 10  npxG/Sh  2319 non-null   float64
 11  G-xG     2319 non-null   float64
 12  np:G-xG  2319 non-null   float64
dtypes: float64(6), int64(4), object(3)
memory usage: 235.6+ KB

In [102]:
# More exploring the data
df.head(10)
df.describe()
df.sort_values(by='npG-npxG', ascending=False).head(25)

,Player,Nation,Squad,Age,90s,Gls,PK,PKatt,xG,npxG,npxG/sh,G-xG,npG-npxG
2054,Alexander Sørloth,NOR,Villarreal,27,27.7,23,0,0,12.3,12.3,0.16,10.7,10.7
708,Phil Foden,ENG,Manchester City,23,31.7,19,0,0,10.3,10.3,0.10,8.7,8.7
226,Jude Bellingham,ENG,Real Madrid,20,25.7,19,1,1,11.1,10.3,0.17,7.9,7.7
1151,Alexandre Lacazette,FRA,Lyon,32,25.5,19,2,2,11.4,9.8,0.17,7.6,7.2
1340,Lautaro Martínez,ARG,Inter,25,29.5,24,2,3,17.6,15.3,0.15,6.4,6.7
1378,Kylian Mbappé,FRA,Paris S-G,24,24.0,27,6,8,21.0,14.5,0.13,6.0,6.5
859,Serhou Guirassy,GUI,Stuttgart,27,24.5,28,4,4,20.8,17.6,0.20,7.2,6.4
1955,Benjamin Šeško,SVN,RB Leipzig,20,17.0,14,0,0,7.7,7.7,0.16,6.3,6.3
878,Robin Hack,GER,Gladbach,24,15.0,10,0,0,3.9,3.9,0.09,6.1,6.1
575,Eren Dinkçi,GER,Heidenheim,21,29.4,10,0,0,4.3,4.3,0.09,5.7,5.7
1923,Gianluca Scamacca,ITA,Atalanta,24,16.1,12,0,0,6.5,6.5,0.11,5.5,5.5
946,Callum Hudson-Odoi,ENG,Nott'ham Forest,22,20.6,8,0,0,2.7,2.7,0.07,5.3,5.3
655,Youssef En-Nesyri,MAR,Sevilla,26,28.6,16,1,1,10.8,10.0,0.14,5.2,5.0
1114,Teun Koopmeiners,NED,Atalanta,25,29.2,12,2,2,6.5,5.0,0.10,5.5,5.0
1016,Diogo Jota,POR,Liverpool,26,12.7,10,0,0,5.3,5.3,0.13,4.7,4.7
923,Son Heung-min,KOR,Tottenham,31,32.6,17,2,2,12.0,10.4,0.13,5.0,4.6
1352,Jean-Philippe Mateta,FRA,Crystal Palace,26,25.4,16,2,2,10.9,9.4,0.21,5.1,4.6
217,Maximilian Beier,GER,Hoffenheim,20,26.9,16,0,0,11.4,11.4,0.14,4.6,4.6
862,Arda Güler,TUR,Real Madrid,18,4.2,6,0,0,1.4,1.4,0.10,4.6,4.6
257,Jan-Niklas Beste,GER,Heidenheim,24,28.9,8,0,1,4.3,3.5,0.07,3.7,4.5
1983,Tim Skarke,GER,Darmstadt 98,26,26.7,8,0,0,3.6,3.6,0.05,4.4,4.4
304,Jarrod Bowen,ENG,West Ham,26,33.5,16,0,0,11.6,11.6,0.14,4.4,4.4
1597,Michael Olise,FRA,Crystal Palace,21,14.2,10,1,1,5.5,4.7,0.08,4.5,4.3
837,Álex Grimaldo,ESP,Leverkusen,27,30.9,10,0,0,5.7,5.7,0.08,4.3,4.3
1014,Willian José,BRA,Betis,31,21.9,10,0,0,5.7,5.7,0.12,4.3,4.3

In [ ]:
# TODO
# some simple visualizations, maybe pairplot
# filter low scorers which might skew data
# look at players below a certain age, give written explanation of scouting applications
# calculate percentiles, look at players above those thresholds (as outliers)
# compare G-xG leaders to npG-npxG leaders, give written explanation
# write out steps for future analysis:
# --compare xG to PSxG to see value added by the striker?
# --combine data from multiple seasons to better account for single-season variance
# --perform similar analysis for other performance metrics: passing, chance creation